.body {
    margin: 0;
    padding: 0;
    
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.contentContainer {
    background: linear-gradient(180deg, #bababa 0%, white 10%);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 25%))
}

.footerContainer {
    background-color: #dfdfdf;
}
