* {
    margin: 0px;
    padding: 0px;
}

/* Logo */
.logo img {
    width: 10em;
    height: 4.5em;
}

.elementos{
    width: 95%;
    align-items: center;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    
}

.navbar {
    font-family: 'Jeju Gothic', sans-serif;
    background-image: linear-gradient(180deg, #D32645, #6D1424);
}

/* Lista de coisitias*/
.navbar ul{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    width: 40em;
}

.itensLista{
    font-size: 22px;
    padding: 10px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.itensLista a{
    color: white;
    text-decoration: none;
}

.itensLista:last-child{
    border: none;
}

.itensLista li::marker{
    content: '';
}

.busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17.8em;
    border-radius: 20px;
    outline: none;    
}

.busca input{
    outline: none;
    border: none;
    height: 38px;
    border-radius:20px;
    width: 17em;
    padding: 0 10px;
    transition: background-color 0.3s ease;
}

.busca img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    outline: none;
}

.busca input:hover {
   background-color: aliceblue;
}

.userDiv img{
    width: 38px;
}
